custom_color_contrast 0.3
custom_color_mode_empty_background_color #000000
page_separator_color #000000
page_separator_width 10
custom_background_color #1f1f28
custom_text_color #dcd7ba
search_highlight_color #2d4f67
link_highlight_color #957fb8
status_bar_color #16161d
status_bar_text_color #c8c093
startup_commands toggle_custom_color
