custom_color_contrast 0.3
custom_color_mode_empty_background_color #56526e
page_separator_color #56526e
page_separator_width 10
custom_background_color #191724
custom_text_color #e0def4
search_highlight_color #ebbcba
link_highlight_color #9ccfd8
status_bar_color #2a273f
status_bar_text_color #908caa
startup_commands toggle_custom_color
